@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "JetBrains Mono", monospace;
  z-index: 1; }

header {
  font-size: 3em; }

footer {
  font-size: 3em;
  background-color: #f64740;
  height: 400px;
  margin-top: -400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: #f4180f 2px 5px 5px; }

html {
  font-size: 62.5%;
  font-family: "JetBrains Mono", monospace;
  background-color: #214fc7; }

.header {
  background-color: #fff;
  width: 100vw;
  margin-left: -30px;
  color: #000;
  font-size: 20px;
  margin-top: -30px; }

.flex-container {
  display: flex;
  background-color: #f64740;
  flex-direction: column; }

.container {
  background-color: #214fc7;
  width: 1000px;
  height: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: repeat(2, 50px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px; }
  .container--navigation {
    background-color: #f64740;
    grid-column: 1 / -1;
    height: 26px;
    font-family: "JetBrains Mono", monospace !important;
    display: flex !important;
    padding: 23px 23px 40px 23px; }
  .container--minter {
    margin-top: -3px;
    margin-left: -4px;
    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 10;
    border-radius: 100px;
    background-color: #fff;
    height: 400px;
    width: 400px;
    text-align: center;
    font-size: 3rem;
    filter: drop-shadow(30px 10px 4px #000d); }
  .container--minterbg {
    margin-top: -65px;
    margin-left: -15px;
    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 9;
    border-radius: 120px;
    background-color: #000;
    height: 430px;
    width: 430px; }
  .container--title {
    font-family: 'JetBrains Mono', monospace !important;
    font-size: 2em !important; }

.item {
  padding: 20px;
  font-size: 20px;
  font-family: sans-serif; }
  .item--detail {
    text-align: center;
    font-size: 20px;
    background-color: #fff; }
  .item--detail-input {
    background-color: #214fc7;
    color: #fff;
    outline-color: #000;
    padding: 5px 5px 5px 10px;
    align-items: center;
    margin: 10px;
    outline-style: solid;
    border: none;
    font-size: 15px;
    background-color: #f64740 !important; }

.btn {
  background-color: #fff;
  color: #f64740;
  outline: #f64740;
  outline-style: solid;
  border-radius: 100px;
  width: 100%; }
  .btn--pad {
    margin-top: 30px;
    margin-left: auto;
    height: 55px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 0px; }
  .btn--element {
    background-color: #fff; }
  .btn:hover {
    background-color: #f4180f;
    color: #fff;
    outline: #f4180f;
    outline-style: solid; }

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f64740; }

.nav-links {
  display: flex; }

.links {
  display: flex;
  font-size: 2.5rem;
  padding: 0px 40px 0px 63px !important;
  justify-content: space-between;
  align-items: center; }

a {
  text-decoration: none;
  color: #000;
  outline: #000;
  outline-width: 5px;
  outline-style: solid;
  border-radius: 100px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9d451; }
  a:hover {
    outline: #fff;
    outline-style: solid;
    outline-width: 5px;
    background-color: #000;
    color: #fff; }

.nav {
  padding: 10px 0px 40px 0px;
  font-size: 30px;
  font-family: sans-serif; }

.w3rpglogo {
  padding-left: 40px;
  font-size: 4.5rem; }

footer a {
  outline-style: none;
  text-decoration: none;
  background-color: #f64740;
  padding: 0px;
  margin-bottom: 0px; }
  footer a:hover {
    outline: #1a3e9b;
    outline-style: solid; }
